.Cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
}

.Cadastro_header,
.Cadastro_formulario {
    width: 800px;
    background-color: rgb(48, 48, 48);

}
.Cadastro_header {
    padding: 30px 30px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cadastro_header .Cadastro_botao {
   width: 100px; 
   margin-right: 15px;
}

.Cadastro_title {
    text-align: center;
    color: white;
    margin: 0;
    border-radius: 15px 15px 0px 0px ;
}

.Cadastro_formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    padding: 15px 30px 45px 30px;
    border-radius: 0px 0px 15px 15px ;
}

.Cadastro_campo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    margin: 0 10px;
}

.Cadastro_label {
    color: white;
    margin-bottom: 15px;
}

.Cadastro_input,
.Cadastro_botao {
    border: none;
    border-radius: 25px;
    color: white;
}

.Cadastro_input {
    /* box-sizing: border-box; */
    height: 35px;
    line-height: 15px;
    width: 100%;
    background-color: rgb(68, 68, 68);
    padding: 0 15px;
}

.Cadastro_input:focus {
    outline: none;
    border: 1px solid rgb(159, 23, 140);
    padding: 0 14px;
}

.Cadastro_input:invalid {
  outline: none;
  border: 1px solid rgb(255, 23, 140);
  padding: 0 14px;
}

.Cadastro_botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.Cadastro_botao {
    height: 35px;
    width: 45%;
    background-color: rgb(159, 23, 140);
}

.Cadastro_botao:hover {
    background-color: rgb(169, 26, 150);
}